<html>

<body>
    <form action="/categories/add" method="post">
        Category
        <input type="text" name="name">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>